.navigation {
  background-color: rgb(212, 152, 218);
  border: solid;
  border-color: black;
  display: flex;
}

.logo {
  margin: 4px;
}

.nav-buttons {
  margin: 4px;
}

.main-contain {
  background-color: rgb(152, 233, 132);
  border: solid;
  border-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.container {
  margin: 3px;
  background-color: aquamarine;
  border: solid;
  border-color: black;
  display: inline-flex;
  flex-direction: column;
}

.box {
  display: inline-block;
  margin: 3px;
  border: solid;
  border-color: black;
  border-width: 3px;
  padding: 5px;
}

.one {
  background-color: blue;
}

.two {
  background-color: green;
}

.three {
  background-color: red;
}

.four {
  background-color: purple;
}
