.container-grid {
  display: grid;
  grid-template-rows: 5.6rem 40rem 20rem 5.6rem;
  grid-gap: 15px;
  grid-template-areas:
    'nav'
    'main'
    'recs'
    'footer';
  width: 90vw;
  background-color: #fffff8;;
}

.navigation {
  border: solid;
  border-color: black;
  display: flex;
  grid-area: nav;
  background-color: #de9d17;
}

.recommendations {
  min-width: 8rem;
  grid-area: recs;
  border: solid;
  border-color: black;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  grid-gap: 15px;
  grid-template-areas:
    'top-left top-right'
    'bottom-left bottom-right';
}

.main-blog {
  margin: 3px;
  border: solid;
  border-color: black;
  grid-area: main;
}

.footer {
  border: solid;
  border-color: black;
  display: flex;
  grid-area: footer;
  background-color: #de9d17;
}

.logo-box { 
  display: flex;
  align-items: center;
  width: 200px;
}

.logo {
  display: flex;
  margin: 4px;
  grid-area: logo;
  height: auto;
  width: 130%;
}

.link-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid;
  border-color: brown;
}

.one {
  grid-area: top-left;
}

.two {
  grid-area: top-right;
}

.three {
  grid-area: bottom-left;
}

.four {
  grid-area: bottom-right;
}
